<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Discuss!</title>
    <!--link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" />
</head>

<body class="layout-documentation page-overview">
    <!-- Main container -->
<div class="container">
 <nav id="navbar"  style="transform: translateY(0px);">
  <div id="specialShadow" class="bd-special-shadow" style="opacity: 0; transform: scaleY(1);"></div>

  <div class="container">

  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>



    <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuDocumentation">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuDocumentation" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
    </div>
  </div>

  </div>
        </nav>
</div>



    <div class="container">
            <%= render @view_module, @view_template, assigns %>
    </div>
   
   
   
   
   <div class="container">
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                </p>
            </div>
        </div>
    

    </footer>
     </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>